doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Idle-RPG
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        This is an idle-rpg game for discord.