doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    mixin player-card(player)
      div.player-card
        img.player-poster(src=player.posterImage)
        each player in onlinePlayers
          ul.player
            h3.player-name= player.name
            p= player.map.name

for player in onlinePlayers
  +player-card(player)