.header {
  background-color: #3D4148;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .menu-item {
    margin-right: 16px;
    color: white;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: orange;
    }
  }
}

.main {
  background-color: #282c34;
  padding: 16px;
  overflow: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .map {
    .p-datatable {
      margin-bottom: 16px;
    }
    .p-datatable-thead {
      display: none;
    }
    .p-datatable-tbody {
      > tr {
        > td {
          padding: unset;
          height: 100%;
        }
      }
    }
  }
}
