.container {
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #3D4148;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .menu-item {
    margin-right: 16px;
    color: white;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: orange;
    }
  }
}

.main {
  background-color: #282c34;
  padding: 16px;
  overflow: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .map {
    .table-cell {
      border: 1px solid white;
      padding: 8px;

      min-width: calc(100% / 6);
      min-height: calc(100% / 6);
      max-width: calc(100% / 6);
      max-height: calc(100% / 6);

      .map-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-size: 1.5rem;
        color: white;
      }
      .map-user-list {
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        font-size: 1rem;
      }
    }
  }
}
